<div id="login-box">
	<form method="POST" action="" id="login-form">
		<div>
			<label for="nickname">Nickname</label>
			<input type="text" name="nickname" id="nickname"/>
			<p class="error hidden" id="nickname-error">
				Nickname required
			</p>
		</div>
		<div>
			<label for="room">Room</label>
			<input type="text" name="room" id="room"/>
			<p class="error hidden" id="room-error">
				Room required
			</p>
		</div>
		<div class="center">
			<input type="submit" value="Connect" />
		</div>
	</form>
</div>
